@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --primary: #2563eb;
  --secondary: #3b82f6;
  --light: #f3f4f6;
  --dark: #1f2937;
  --light-gradient: linear-gradient(
    to right bottom,
    #fff,
    #fff,
    #f2f2f2,
    #f2f2f2
  );
  --dark-gradient: linear-gradient(
    to right bottom,
    var(--dark),
    #333,
    var(--dark)
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.appHeader {
  padding: 1rem;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 3;
  background: #fff;
}

.appHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.appHeader a {
  color: var(--dark);
}
.appHeader span {
  color: var(--dark);
  font-size: 1.4rem;
}

.appHeader i {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.appNav a {
  color: var(--light);
}

.actionBtn {
  background: var(--dark-gradient);
  color: var(--light);
  border-radius: 5px;
  padding: 0.7rem 1.3rem;
}

.actionBtn-primary {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.actionBtn:hover,
.actionBtn-primary:hover {
  opacity: 0.9;
}

.desktopNav {
  display: none;
}

.desktopNav a {
  margin-right: 0.75rem;
}

.activeNavLink {
  color: var(--dark);
  font-weight: bold;
}

.appNav {
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  position: fixed;
  z-index: 2;
  transition: 0.4s ease;
  opacity: 0;
}

.appNav ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.appNav ul li:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
}
section {
  padding: 5rem 1rem;
}

#home {
  background: var(--light-gradient);
}

#home .homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .homeContainer .col {
  text-align: center;
}

#home .h1 {
  font-size: 3rem;
}

.appHeader #closeNavBtn {
  display: none;
}

.profile-pic {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.socialIcons {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.socialIcons a {
  color: var(--dark);
  margin-right: 0.5rem;
}

.socialIcons a:hover {
  opacity: 0.8;
}

.socialIcons .fa-instagram {
  color: rgb(255, 72, 102);
}

.socialIcons .fa-twitter {
  color: rgb(0, 153, 255);
}

input,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 0.85rem;
}

.projectCard {
  margin-bottom: 3rem;
  background-color: var(--light);
  padding-bottom: 0.5rem;
  border-radius: 5px;
}

.projectCard img {
  width: 100%;
  max-width: 400px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.projectCard img:hover {
  transform: scale(1.1);
}

.projectCard .inner {
  padding: 1rem;
  padding-left: 1.4rem;
}

.projectCard .chip {
  background-color: var(--dark);
  display: inline-block;
  color: var(--light);
  margin-right: 0.5rem;
  padding: 0.25rem 0.4rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

#skills {
  background-color: var(--light);
}
.skillsContainer progress {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

#contact {
  background: var(--dark);
  color: var(--light);
}

.form-group {
  margin: 1rem 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: none;
}

.text-muted {
  color: rgba(0, 0, 0, 0.7);
}
.text-secondary {
  color: rgba(0, 0, 0, 0.6);
}

.block {
  border-left: 4px solid var(--dark);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 1);
  margin: 1.2rem 0;
}

footer {
  background-color: #18212e;
  color: var(--light);
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 640px) {
  #openNavBtn,
  #closeNavBtn {
    display: none;
  }
  .desktopNav {
    display: block;
  }
}

@media screen and (min-width: 850px) {
  section {
    display: flex;
    align-items: center;
  }
  #home .homeContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  #home .homeContainer .col {
    text-align: left;
  }

  #home .homeContainer .imageCol {
    width: 300px;
    display: flex;
    justify-content: flex-end;
  }

  #home .homeContainer .infoCol {
    padding-right: 4rem;
  }
  .profile-pic {
    margin-bottom: 0;
  }
  .projectCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .projectCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
  }
  .projectCard img {
    margin-bottom: 1rem;
  }
}
